[Desktop Entry]
Categories=Network;WebBrowser
Exec=firefox --no-sandbox %U
GenericName=firefox
Icon=/home/runner/vnc-1/firefox.png
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp
Name=Firefox
Terminal=false
Type=Application
TryExec=firefox
